.clock {
    font-family: 'Roboto Condensed';

    grid-row: 3/4;
    grid-column: 2/11;
    align-self: end;

    background: $color-gray-one;
    text-align: left;
    height: 75%;
    width: 100%;
  
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
   grid-column-gap: 60px;

    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center; 
    text-align: left;

    clip-path: polygon(7% 0, 100% 0, 95% 100%, 0% 100%);
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);

    &__title {
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
    }
    &__amount {
        font-size: 90px;
        font-weight: bold;
        line-height: 115px;
        color: white;
    }
    &__box {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }
}